.app-wrapper {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
  .main-wrapper {
    margin: 0 auto;
    @media (min-width: 1260px) {
      width: 1240px;
    }
    @media (max-width: 1260px) {
      width: 1180px;
    }
    @media (max-width: 1200px) {
      width: 1000px;
    }
    @media (max-width: 1024px) {
      width: 750px;
    }
    @media (max-width: 768px) {
      width: 550px;
    }
    @media (max-width: 576px) {
      width: 350px;
    }
    @media (max-width: 500px) {
      width: 350px;
    }
    @media (max-width: 375px) {
      width: 335px;
    }
  }
}
