.carrousel-container {
  position: relative;
  .accommodation-picture {
    height: 415px;
    width: 100%;
    object-fit: cover;
  }
  .chevron-left,
  .chevron-right {
    cursor: pointer;
    position: absolute;
    top: 28%;
    height: 10rem;
    filter: invert(100%);
  }
  .chevron-left {
    left: -30px;
  }
  .chevron-right {
    right: -30px;
  }
  .picture-position {
    position: absolute;
    top: 85%;
    left: 50%;
    font-size: $font-medium;
    font-weight: $font-weight-medium;
    color: white;
  }
  @media (max-width: 1024px) {
    .chevron-left,
    .chevron-right {
      height: 6rem;
      top: 40%;
    }
    .chevron-left {
      left: -10px;
    }
    .chevron-right {
      right: -10px;
    }
  }
  @media (max-width: 768px) {
    .accommodation-picture {
      height: 255px;
    }
    .chevron-left,
    .chevron-right {
      height: 3rem;
      top: 45%;
    }
    .chevron-left {
      left: -5px;
    }
    .chevron-right {
      right: -5px;
    }
    .picture-position {
      display: none;
    }
  }
}
