footer {
  height: 209px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    padding: 4rem 0 1rem 0;
    width: 122px;
    height: 39.44px;
  }
  p {
    font-size: $font-high;
    font-weight: $font-weight-medium;
    color: white;
  }
  @media (max-width: 768px) {
    img {
      padding: 0rem 0 1rem 0;
    }
    p {
      font-size: 12px;
    }
  }
}
