.header-navigation {
  display: flex;
  padding: 2rem 0;
  align-items: center;
  justify-content: space-between;
  ul {
    display: flex;
    gap: 2rem;
    list-style-type: none;
    a {
      font-size: $font-high;
      font-weight: $font-weight-medium;
      color: $color-orange;
      text-decoration: none;

      &.active,
      &:visited {
        text-decoration: underline;
      }
    }
  }

  @media (max-width: 768px) {
    .logo-header {
      width: 145px;
    }

    ul {
      a {
        font-size: 12px;
      }
    }
  }
}
