.tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-orange;
    min-width: 115px;
    height: 25px;
    border-radius: 10px;
    border: none;
    padding: 0;
    p {
      font-size: 14px;
      font-weight: 500;
      color: white;
      margin: 0;
      padding: 0 0.5rem;
    }
  }

  @media (max-width: 768px) {
    button {
      min-width: 84px;
      height: 18px;
      p {
        font-size: 10px;
      }
    }
  }
}
