.tag-container {
  display: flex;
  gap: 1rem;
  .tag {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-orange;
    min-width: 115px;
    height: 25px;
    border-radius: 10px;
    p {
      font-size: 14px;
      font-weight: 500;
      color: white;
      margin: 0;
      padding: 0 0.5rem;
    }
  }
}
