.accommodation-container {
  h2 {
    font-size: 36px;
    font-weight: $font-medium;
    color: $color-orange;
  }
  h4 {
    font-size: 18px;
    font-weight: $font-medium;
    color: $color-orange;
  }
}
