@import "variables.scss";

@import "./components/AccommodationCard.scss";
@import "./components/AppWrapper.scss";
@import "./components/Banner.scss";
@import "./components/Carrousel.scss";
@import "./components/Expander.scss";
@import "./components/Footer.scss";
@import "./components/Header.scss";
@import "./components/Rating.scss";
@import "./components/Tag.scss";

@import "./pages/Accommodation.scss";
@import "./pages/Home.scss";
@import "./pages/Error404.scss";

body {
  overflow-y: scroll;
  margin: 0;
  font-family: $font;
}
