@import "variables.scss";
@import "./components/AppWrapper.scss";
@import "./components/Header.scss";
@import "./components/Banner.scss";
@import "./components/Collapse.scss";
@import "./components/Footer.scss";

body {
  overflow-y: scroll;
  margin: 0;
  font-family: $font;
}
